div {
    margin: 0;
    padding: 0;
}

.main-grid-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "navbar navbar"
    "menu main";
}

.navbar {
    grid-area: navbar;
}

.menu {
    grid-area: menu;
}

.main {
    grid-area: main;
}

